#
# These are the template variables for the agent install
# Change them to suit your requirements
#

# Set to desired version
gocd_version="20.3.0-11530"
# Set server IP address
gocd_server_ip="10.0.1.100"
# Set to desired number of agents
gocd_num_agents=2
# Set gocd user name
gocd_user_name="gocd"
# Set gocd group name
gocd_group_name="gocd"
# Set gocd user id
gocd_user_id=6039
# Set gocd group id
gocd_group_id=6039
# Set gocd user home folder
gocd_home="/usr/local/${gocd_user_name}"
